version: '3.8'
services:
  postgres:
    image: postgres:15
    ports: ["5432:5432"]
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  mongodb:
    image: mongo:5.0
    ports: ["27017:27017"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
